<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kurs.Properties.Settings._155ListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\155List.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings._155_2ListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\155_2List.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings._151ListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\151List.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings._104ListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\104List.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings._120ListConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\120List.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings._550ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\550.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings._682ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\682.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings.Kemerovo658" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Kemerovo.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings.LeninskConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Leninsk.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings.NovosibConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Novosib.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings.TomskConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Tomsk.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>